/* Basic Colors */
/* Basic settings */
html {
  font-size: 10px;
}
.button {
  background-color: #fcb303;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
}
/* Typography*/
section {
  padding: 10rem 0;
}
/*main*/
main {
  padding: 1.5rem 0;
  background: url(../img/mainbg.jpg) no-repeat;
  background-size: contain;
  height: 100vh;
}
.header {
  height: 7rem;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  margin-right: 30px;
}
.wrap {
  text-align: right;
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .logo {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
  .phone-link {
    display: block;
    margin-right: 0px;
    font-size: 2.8rem;
  }
  main {
    padding: 4rem 0;
    background: url(../img/mainbg.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
  }
}
