.fotorama {
	margin-top: 50px;
}

body {
	background: #c8c8c8; 
 background: -webkit-linear-gradient(left, #c8c8c8 0%, #ffffff 51%, #c8c8c8 100%);
 background: -o-linear-gradient(left, #c8c8c8 0%, #ffffff 51%, #c8c8c8 100%);
 background: linear-gradient(to right, #c8c8c8 0%, #ffffff 51%, #c8c8c8 100%);   
}