/*Fonts*/
@font-face {
  font-family: 'ProximaNovaReg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fontsProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Basic Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNovaRg', sans-serif;
}
.button {
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  background-color: #fcb303;
  color: white;
}
/* Typography*/
section {
  padding: 10rem 0;
}
/*main*/
main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/mainbg.jpg) center center no-repeat;
  background-size: cover;
}
.header {
  height: 7rem;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  margin-right: 30px;
  color: #292929;
}
.wrap {
  text-align: right;
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
/*MAIN HEADER*/
.main-header {
  margin-top: 7rem;
  /*MAIN FORM*/
}
.main-header .main-text {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 4rem;
  line-height: 5.8rem;
  text-transform: uppercase;
  margin-top: 0;
  color: #292929;
}
.main-header p:nth-of-type(1) {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  color: #292929;
}
.main-header p:nth-of-type(2) {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  padding: 3rem 5rem;
  color: white;
  background-color: #46b814;
}
.main-header p:nth-of-type(2) span {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 3rem;
}
.main-header p:nth-of-type(3) {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  color: #292929;
}
.main-header .main-form {
  background-color: #fff;
  padding: 3rem 4rem;
  text-align: center;
  color: #292929;
}
.main-header .main-form h3 {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-header .main-form h3 span {
  font-size: 1.9rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.main-header .main-form input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin: 2.5rem 0;
  border: 1px solid #ddd;
}
.main-header .main-form label {
  background-color: white;
  padding: 0.5rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.2rem;
  font-family: 'ProximaNovaRg', sans-serif;
  font-weight: 400;
  color: #565656;
}
.main-header .main-form small {
  display: block;
  margin-top: 1.5rem;
  color: #565656;
}
.main-header .main-form .button {
  width: 100%;
  display: block;
  hpadding: 2rem 3.5rem;
  font-size: 1.6rem;
}
.small-text {
  display: block;
  margin-top: 4rem;
  color: #565656;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .logo {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
  .phone-link {
    display: block;
    margin-right: 0px;
    font-size: 2.8rem;
  }
  .main-header {
    text-align: center;
  }
  .main-header .main-text {
    margin: 10rem auto 0 auto;
    font-size: 3.2rem;
    width: 90%;
  }
  .main-header .main-form {
    margin: 10rem auto 0 auto;
    width: 90%;
  }
  .main-header p:nth-of-type(2) {
    padding: 1.4rem 3rem;
  }
  .small-text {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: #292929;
    opacity: 0.9;
  }
}
@media (min-width: 768px) and (max-width: 993px) {
  .main-header {
    text-align: center;
  }
  .main-header .main-text {
    font-size: 2.8rem;
  }
  .main-header p:nth-of-type(2) {
    padding: 1.4rem 3rem;
  }
  main {
    background: #ffffff url(../img/mainbg.jpg) 38% 50% no-repeat;
    background-size: cover;
  }
  .small-text {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .main-header .main-form {
    padding: 3rem 2rem;
  }
}
